{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags static %}
{% block extra_js %}
<script type="text/javascript">
$(function(){
  var topPos = $('#floating').offset().top;
  $(window).scroll(function() {
  var top = $(document).scrollTop(),
      pip = $('footer').offset().top;
      height = $('#floating').outerHeight();
  if (top > topPos && top < pip - height) {$('#floating').addClass('fixed').removeAttr("style");}
  else if (top > pip - height) {$('#floating').removeClass('fixed').css({'position':'absolute','bottom':'0'});}
  else {$('#floating').removeClass('fixed');}
  });
});
</script>
<script>
$(document).on("click", '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
</script>
<script>
(function($) {
$(function() {

  $('.scroll_up').click(function() {
    $('html, body').animate({scrollTop: 0},500);
    return false;
  })

})
})(jQuery)
</script>
{% endblock %}
{% block container %}
<div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <div class="container page-content">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Cookie
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Pagina iniziale
</a>
        </li>
        <li class="breadcrumb-item active">{{ page.title }}</li>
      </ol>


      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-12">
            {% if page.page_slogan %}
          <h2 class="h2">{{ page.page_slogan }}</h2>
            {% endif %}
        {{ page.text1|richtext }}
		</div>
      </div>

      <!-- /.row -->
{%  if self.carousel_items.all %}
      <!-- Team Members -->
      <h2>Наши Врачи</h2>

      <div class="row">

	  <!---Carousel--->
        {% include "home/partials/about_carousel.html" with carousel_items=self.carousel_items.all only %}

</div>
{% endif %}
<!----End Carousel------>

      </div>
      <!-- /.row -->
<hr class="hr">

{% include "home/partials/banner_row.html" %}
    </div>
    <!-- /.container -->
</div>
{% endblock %}