{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
{% if carousel_items %}
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    {% for carousel_item in carousel_items %}
    <li data-target="#carouselIndicators" data-slide-to="{{ forloop.counter0 }}"
        class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
{% for carousel_item in carousel_items %}
    {% image carousel_item.image1 width-1400 as imagedata1 %}
    {% image carousel_item.image2 width-1400 as imagedata2 %}
    {% image carousel_item.image3 width-1400 as imagedata3 %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
	    <div class="col-lg-4 mb-4 specialist">
          <div class="card h-100 text-center">
		  <div class="card-img-hover">
            <img class="card-img-top" src="{{ imagedata1.url }}" alt="">
			</div>
            <div class="card-body">
              <h4 class="card-title">{{ carousel_item.name1 }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ carousel_item.job1 }}</h6>
             <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			 Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>--->
            </div>

          </div>
        </div>
        	  	<div class="col-lg-4 mb-4 specialist">
          <div class="card h-100 text-center">
		  <div class="card-img-hover">
            <img class="card-img-top" src="{{ imagedata2.url }}" alt="">
            </div>
			<div class="card-body">
              <h4 class="card-title">{{ carousel_item.name2 }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ carousel_item.job2 }}</h6>
              </div>

          </div>
        </div>
        <div class="col-lg-4 mb-4 specialist">
          <div class="card h-100 text-center">
		  <div class="card-img-hover">
            <img class="card-img-top" src="{{ imagedata3.url }}" alt="">
			</div>
            <div class="card-body">
              <h4 class="card-title">{{ carousel_item.name3 }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ carousel_item.job3 }}</h6>
              </div>

          </div>

	 </div>
    </div>
{% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Avanti</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Indietro</span>
  </a>
</div>

{% endif %}