{% load static %}
<div class="">
<div class="banners row">
	<div class="col-lg-6 col-md-6 col-sm-12 col-12">
 <a class="item" href="https://goo.gl/maps/xD7ESHN2jeR2" target="_blank">
 <img alt="Tour virtuale nel nostro centro" src="{% static "sident/img/ban3.jpg" %}" title="Tour virtuale nel nostro centro"></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-12">
 <a class="item" href="/tutti-le-notizie/corsi-estivi-di-inglese-e-spagnolo/"><img alt="Traduciamo piu economico di tutti!" src="{% static "sident/img/ban4.jpg" %}" title="Traduciamo piu economico di tutti!"></a>
	</div>
		<div class="col-lg-12 col-12">
 <a class="item" href="/tutti-le-notizie/la-prova-di-inglese-nel-concorso-scuola-infanzia-e-primaria/"><img alt="La prova di inglese nel concorso scuola infanzia e primaria" src="{% static "sident/img/ban5555.jpg" %}" title="La prova di inglese nel concorso scuola infanzia e primaria"></a>
	</div>
</div>

<br class="d-none d-sm-block">
</div>